body {
    padding: 0px;
    margin: 0px;
}

/* .fixed-left-container {
    z-index: 4;
    padding-top: 20px;
    position: relative; 
    float: left; 
    width: 50px;
} */

.left-container {
    position: relative; 
    float: left; 
    width: 50px;
}

.right-container {
    height: 380px;
    overflow: scroll;
}

.seq {
    border: 2px solid black;
    height: 400px;
    overflow: hidden;
}

.piano-container {
    height: 380px;

   /*  overflow: visible;  */
}

.ruler-container {
    z-index: 5;
    height: 20px;
}

#ruler-controls {
    width: 50px;
    height: 20px;
}

.hidden-scrollable {
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hidden-scrollable::-webkit-scrollbar {
    display: none;
}


/* .ruler-roll {
    position: relative;
    height: 400px;
} */

/* .roll-container {
    overflow-x: scroll;

    padding-left: 1px;
    position: relative; 
    float: left; 
} */

/* .scrollable-roll {
    overflow-x: scroll;
    max-width: 85vw;
} */

#y-zoom {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 50px;
    padding: 0 5px;
}

#x-zoom {
    width: 50px;
}

