body {
    padding: 0px;
    margin: 0px;
    font-family: Menlo;
}

.left-container {
    position: relative; 
    float: left; 
    width: 50px;
}

.right-container {
    height: 580px;
    overflow: scroll;
    position: relative;
}

.seq {
    border: 2px solid black;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.piano-container {
    height: 580px;

   /*  overflow: visible;  */
} 

/* Fade in on load */
#sequencer {
    opacity: 0;
}

.ruler-container {
    z-index: 5;
    height: 20px;
}

#ruler-controls {
    width: 50px;
    height: 20px;
}

.hidden-scrollable {
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hidden-scrollable::-webkit-scrollbar {
    display: none;
}

.warning {
    margin: 0;
    text-align: end;
    color: red;
    font-family: 'Menlo'
}

#y-zoom {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 60px;
    padding: 0 5px;
}

#x-zoom {
    width: 60px;
}

.text-input {
    position: absolute;
    background-color: none;
    color: black;
    outline: none;
    border-radius: 6px;
    padding: 4px;
    border: 2px solid black;
}

#controls {
    display: none;
    font-family: Menlo;
    font-size: 1.7vh;
    position: fixed;
    padding: 5%;
    z-index: 1;
}
#controls p {
    padding: 10px;
    border-radius: 10px;
}

.white-highlight {
    background-color: rgba(255,255,255, 0.7);
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 2px;
}

.filename {
    border: none;
    font-size: 14pt;
}

.icon-button {
    opacity: 0.5;
    background: none;
    border: none;
}

.icon-button:hover {
    opacity: 1;
}


.loader-container {
    text-align: center;
    position: fixed;
    top: 50%;
    left: calc(50% - 50px);
}

.loader {
    padding: 10px;
    display: inline-block;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    opacity: 0.5;
    transform: scale(0);
    -webkit-transform: scale(0);
    -webkit-animation: pulse 1.5s linear infinite;
    animation: pulse 1.5s linear infinite;
}

.loader:nth-child(2) {
    background-color: rgb(0, 119, 255);
    animation-delay: 0s 
}
.loader:nth-child(3) { 
    background-color: rgb(0, 174, 255);
    animation-delay: 0.25s 
}
.loader:nth-child(4) { 
    background-color: rgb(0, 247, 255);
    animation-delay: 0.5s 
}
.loader:nth-child(5) { 
    background-color: rgb(0, 255, 157);
    animation-delay: 0.75s 
}
.loader:nth-child(6) { 
    background-color: rgb(0, 255, 64);
    animation-delay: 1s; 
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(0); }
    40% { -webkit-transform: scale(1); }
    80% { -webkit-transform: scale(0); }
}
  
@keyframes pulse {
    0% { transform: scale(0); }
    40% { transform: scale(1); }
    80% { transform: scale(0); }
}